body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.yes {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 15px;
    text-decoration: none;
    width: 150px;
    height: 50px;
}

.yes:hover {
    background-color: #3e8e41;
}

.yes:active {
    background-color: #4caa4f;
}

#no {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 15px;
    width: 150px;
    height: 50px;
}

#no:hover {
    background-color: #da190b;
}

#no:active {
    background-color: #f01e0f;
}

a {
    text-decoration: none;
    color: white;
}